@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/products.css");
@import url("components/typeform.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
}

h1, h2 {
    font-family: 'Lora', serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    border-top: 1px solid #ddd;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.footer-social a {
    color: #666;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer-social a:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.fa-instagram,
.fa-linkedin {
    font-size: 2.5rem;
}

.fa-instagram {
    background: linear-gradient(45deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    background: linear-gradient(45deg, #0077B5 0%, #0077B5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #c17c5d 0%, #c66319 25%, #a81f5f 50%, #7a2599 75%, #3f49aa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    background: linear-gradient(45deg, #005d91 0%, #005d91 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

